iframe, img {
    border-radius:30px; 
    width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
margin-top: 20px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-style: italic;
    text-align: center;
}